.today__title {
    margin-bottom: 25px;
    font-size: 34px;
    line-height: 38px;
    font-weight: 600;
  }
  .today_text {
    margin: 10px 0px 10px;
    color: rgb(138, 138, 143);
    font-size: 13px;
    line-height: 18.2px;
    font-family: Arial;
    text-transform: uppercase;
    font-weight: 600;
  }