.monday__text {
  left: 20px;
  bottom: 20px;
}
.monday__img{
    width: 100%; 
    height: 400px;  
}
.monday__img--right{
    width: 100%;
    height: 400px;
}
.monday_top{
    margin-top: 30px;
    gap: 30px;
}
.monday__card + .monday__card{
    margin-top: 20px;
}