.hot {
  padding: 3px 12px;
  right: 20px;
  top: 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
  color: #fff;
  z-index: 4;
}

.img-today {
  width: 1300px;
  height: 600px;
}
.today__card{
  transition: all .3s ease-in-out;
  cursor: pointer;
}
.today__card:active{
  transform: scale(0.98);
}

.card__body--title {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
}
.comment{
  color: #fff;
}
.today__bottom{
  margin-bottom: 80px;
}