.category__card{
    padding: 50px 30px;
    width: 380px!important;
    background-image: url(./../../assets/images/lib.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}