.header{
  border-top: 1px solid #BFBFBF;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 55;
  background: #fff;
}

.nav{

  &__list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }

  &__item{
    // width: calc(100% / 5);
    // display: flex;
    // align-items: center;
    // justify-content: center;

    &-link{
      // width: 50px;
      display: flex;
      align-items: center;
      gap: 8px;
      color: #999999;
      font-size: 12px;

     &-icon{
        width: 30px;
        height: 30px;
      }

    }
  }

}

// .menu-active-link{
//   color: red;
// }