* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background: #f8f8f8;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  object-fit: cover;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1440px !important;
  margin: 0 auto !important;
  padding: 0 20px !important;
}


/* :root{
  Headerbrown: "#dfgw";
  yellow: "2344"
} */
